 body {
      font-family: 'Myriad Pro Regular';
 }

 .font-face-fancy{
      font-family: FancySignature;
 }


 .border-top,.border-bottom{
      border-color: #CE490D !important;
 }

 .border-bottom-2{
      border-bottom-width: 2px !important;
 }

 .card,
 .card-footer:last-child ,
 .card-header:first-child {
      border-radius: 0;
 }

 .explore{
      text-align: right;
      margin-top: 1rem;
      border-bottom: 1px solid #b62025;
      display: inline-block;
      color: #b62025;
      transition: all .3s  ease-in-out;
      font-size: 1.2rem;
 }

 .explore.text-white{
      border-bottom: 1px solid #fff;
 }
 .explore.text-dark{
      border-bottom: 1px solid #000;
 }
 .explore:hover{
            text-decoration: none;
             color: #7d0c10;
 }

 .jumbotron {
      color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background: transparent;
 }
 .jumbotron:not(.no-img) {
      background-image: url("../imgs/hero.png");
 }

 .jumbotron .carousel {
        position: absolute;
       height: 100%;
        z-index: -1;
        width: 100%;
        top: 0;
 }

 .jumbotron .carousel img{
      object-fit: cover;
 }

 .page-break:not(.no-dash),
 .page-break-striped {
      background-image: url("../imgs/bg-shape.png");
      height: 23px;
      padding-top: 5px;
 }

 .page-break::before {
      content: "";
      display: block;
      width: 100%;
      height: 16px;
      background-color: #b62025;
 }

   .wrapped-content img {
           margin: 35px;

  }
   .wrapped-content.img-right img { float: right; }
   .wrapped-content.img-left img { float: left; }

   .wrapped-content p {
       text-align: justify;
       font-size: 25px;
  }



 .img-thumbnail{
      padding: 0;
      border: 10px solid #dee2e6;
      border-radius: 0;
 }

 .section-intro h3{
      line-height: 1.7;
 }
.img-thumbnail.img-thumbnail-dashed {
      padding: 0;
      border: 10px solid #dee2e6;
      border-radius: 0;
 }
.img-thumbnail.img-thumbnail-dashed img {
          object-fit: cover;
          width: 100%;
 }
.img-thumbnail.product-img  {
          border-radius: 10px;
 }


 .img-thumbnail.img-thumbnail-dashed:not(.product-img)::before {
      content: "";
      background-image: url(../imgs/bg-shape.png);
      height: 100%;
      width: 90%;
      display: block;
      position: absolute;
      z-index: -1;

 }

 .section-text-bg {
      position: relative;
 }

 .section-text-bg::before {
      content: "About";
      position: absolute;
      text-transform: capitalize;
      right: 10%;
      font-size: 12rem;
      color: #f8f8f8;
      letter-spacing: 10px;
      top: -60px;
      z-index: -5;
 }

 
 .section-text-bg::after {
      content: "About";
      position: absolute;
      text-transform: capitalize;
      right: 10%;
          font-size: 10rem;
      color: #f8f8f8;
      letter-spacing: 10px;
      bottom: 0;
      width: 100%;
      z-index: -5;
      text-align: center;
 }

 .bg-dark-light {
      background-color: rgba(0, 0, 0, .3);
 }
 .bg-muted{
      background-color: #ABABAB;
 }

 .z-index-1{
      z-index: 1;
 }
 .main-nav {
      font-size: 30px;
 }

 

 .text-dark {
      color: #000 !important;
 }

 .section-header-box {
      position: relative;
      width: 160px;
      padding: 5px 0 5px 10px;
      border: 5px solid #E6E6E7;
      font-size: 45px;
      white-space: nowrap;
 }

 .section-header-box span {
      font-size: 4rem;
      position: absolute;
      top: -13px;
      display: block;
      right: -49px;
      color: #B62025;
      text-transform: uppercase;
 }

 .products-slider{position: relative;}
 .products-slider .sliders {
      background-color: #000;
      background-image: url(../imgs/globe.png);
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
 }
  .products-slider-bg {
            content: "";
            position: absolute;
            height: 106%;
            width: 111%;
            background-color: #898989;
            left: -100px;
            top: -27px;
            z-index: 0;
            overflow: hidden;
  }
     .products-slider-bg::before {
          content: "services";
          position: absolute;
          text-transform: uppercase;
          right: 0;
          font-size: 22rem;
          color: #f8f8f8;
          letter-spacing: 10px;
          bottom: -119px;
          z-index: 1;
          opacity: 0.2;
     }

 .products-card {
      background-color: rgba(0, 0, 0, .7);
      color: white;
      border: none;

 }

 .products-card .card-header {
      background: none;
      border: none;
 }

 .products-card .card-header h1 {
      font-size: 80px;
          letter-spacing: 5px;
 }

 .products-card .card-footer h1 {
      font-size: 44px;
 }

 .products-card .card-body {
      font-size: 22px;
 }

 .products-card .card-footer {
      background-color: #B62025;
      color: white
 }

 .products-header-box {
    position: relative;
    width: 196px;
    height: 126px;
    padding: 5px 0 5px 10px;
    border: 5px solid #E6E6E7;
    font-size: 45px;
    white-space: nowrap;
    
 }

 .products-header-box span {
      font-size: 4rem;
      position: absolute;
      display: block;
      text-transform: uppercase;
 }
 .products-header-box span:first-child {
   top: -15px;
   left: -27px;
   color: #fff;
 }
 .products-header-box span:nth-child(2) {
   bottom: -30px;
   left: 11px;
   color: #B62025;
 }

.arrows{
          position: absolute;
          right: 0;
          bottom: 0;
          display: flex;

 }
 .arrows .arrow-right,
  .arrows .arrow-left{
     width: 41px;
     height: 41px;
     background-color: #B62025;
     background-size: 40%;
     background-repeat: no-repeat;
     background-position: center;
     cursor: pointer;

 }
  .arrows .arrow-right {
       background-image: url(../imgs/arrow-right.png);
  }
  .arrows .arrow-left {
       background-image: url(../imgs/arrow-left.png);
  }



   .services-section::before {
     content: "services";
     position: absolute;
     text-transform: uppercase;
     left: -13%;
     font-size: 7rem;
     color: #f8f8f8;
     letter-spacing: 10px;
     top: 11%;
     z-index: 0;
     opacity: 0.2;
     display: none;
   }

   .services-stats .stats-header {
            background: white;
            width: 100%;
            text-align: center;
   }
      .services-stats .cutoff-col{
           width: 4%;
           position: relative;
      }
   .services-stats .cutoff-col div {
                position: absolute;
                width: 100%;
                height: 100%;
                background: white;
                top: -27px;
                left: 0;
   }



   .suppliers-section{
        height: 400px;
        background-image: url(../imgs/glob-markers.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    border-top: 15px solid #b62025;
    border-bottom: 15px solid #b62025;

   }

   .suppliers-section h1{
    font-size: 4rem;
    margin-left: 25px;
    -webkit-text-fill-color: #b62025;
    text-transform: uppercase;
   }


   .news-section .header p:first-child{
font-size: 150px;
   color: rgb(255 255 255 / 80%);
   }
   .news-section .header p:last-child{
    font-size: 33rem;
    transform: rotate(-90deg) translateY(-25px);
    color: rgb(255 255 255 / 80%);
   }

    .news-section::before{
            content: "";
            background-image: url(../imgs/bg-shape.png);
            width: 92%;
            height: 165%;
            position: absolute;
            left: 8%;
            display: none;
            background-color: #dadada;

    }

   .news-slider{
         background-image: url(../imgs/bg-shape.png);
         height: 100%;
   }

   .news-slider-card{
       background-color: #E3E3E3;
       border:3px solid #b62025;
   }
   .news-slider-card img{
       width: 76px;
   }

   .news-section-wrapper{
            border: 7px solid #D7D7D7;
            margin-left: 1px;
                padding-top: 100px;
                padding-bottom: 100px;
   }
   .news-section-wrapper::before{
   content: "news";
   font-size: 33rem;
   transform: rotate(-90deg) translateY(-25px);
   color: #F8F8F8;
   position: absolute;
   left: -180px;
   text-transform: uppercase;
   
   }



   .events-section{
        background-color: #F8F8F8;
        border-top:15px solid #D7D7D7;
        border-bottom:15px solid #D7D7D7;
   }
   .events-section::before{
            content: "events";
            font-size: 4rem;
            position: absolute;
            text-transform: uppercase;
                top: 0;
            /* width: 100%; */
            text-align: center;
            left: 79px;
            letter-spacing: 30px;
            color:rgb(0 0 0 / 5%)
   }

   .events-card{
        border:10px solid #ACACAC;
   }

   .events-card .img-thumbnail{
        border:2px solid #b62025;
   }

   .events-section-header{
        font-size: 3rem;
          text-transform: uppercase;
          color:#8c8c8c73;
                font-family: Montserrat-Bold;
   }

   .line-2{
        line-height: 2;
   }

   .newsletter-section p{
        font-size: 20px;
            color: #8B8B8B;
   }
   .newsletter-section input{
       width: 100%;
       height: 60px;
       border: 5px solid #D7D7D7;
   }

   .newsletter-form{
        width: 100%;
        border: 5px solid #D7D7D7;
        border-left: none;
   }


   .newsletter-section .section-header-box p{
        text-align: left;
   }
   .newsletter-section .section-header-box button{
        text-align: left;
   }

    .newsletter-form::before {
          content: "";
          background-image: url(../imgs/bg-shape.png);
          height: 120%;
          width: 90%;
          display: block;
          position: absolute;
          z-index: -1;
          top: -45px;
    }
    .newsletter-form::before {
          background-color:#8e8e8e;
    }

     .product-img-detail {
            border: 4px solid red;
            position: absolute;
            bottom: -5%;
            width: 85%;
            background: #fff;
            right: 5px;


     }

       .product-img-detail.reversed {
            left: 10px;
       }



    .contact-header {
        font-size: 6rem;
        transform: none;
        color: #E8E8E8;
        text-align: center;
        letter-spacing: 10px;
    }

      .news-letter-form .custom-control-label {
           line-height: 3;
      }

    @media (min-width: 1400px) {
    .events-section::before {
         font-size: 30rem;
    }

      .products-slider-bg {
           height: 130%;
      }

      .services-section {
           margin-bottom: 150px;
      }

      .services-stats .stats-header {
           position: absolute;
      }

 
    }



   
    .stats-header-wrapper {
         display: none;
    }
     .stats-header-mobile-wrapper {
        
          position: relative;
     }


     html{
          font-size: 12px;
     }

    


    @media (min-width: 1650px) {
          .img-thumbnail.img-thumbnail-dashed:not(.product-img)::before {
               width: 100%;
          }
             .newsletter-section p.header {
                      font-size: 30px;
             }

      

               .stats-header-wrapper{
                    display: block;
               }
           
   .products-items {
        font-size: 30px;
   }
              
    }

    @media (min-width: 1250px) {
 .section-text-bg::before {
      content: "About";
      position: absolute;
      text-transform: capitalize;
      font-size: 25rem;
      color: #f8f8f8;
      letter-spacing: 10px;
      top: -201px;
      z-index: -5;
      left: 40%;
 }
    }

      


      .newsletter-section p.subscribe {
           font-size: 50px;
      }

       .newsletter-section .section-header-box {
            width: 230px;
            border:5px solid #F1F1F1;
       }

       .contact-header-box{
position: relative;
width: 160px;
padding: 5px 0 5px 10px;
border: 5px solid #E6E6E7;
font-size: 45px;
white-space: nowrap;
height: 100px;
       }

          .contact-header-box span{
              
                    font-size: 4rem;
                    position: absolute;
                    top: -13px;
                    display: block;
                    right: -49px;
                    color: #B62025;
                    text-transform: uppercase;
               
          }
          .contact-header-box span:first-child{
    top: -45px;
    left: 22px;
    color: #1E1E27;
          }
          .contact-header-box span:nth-child(2){
    top: 27px;
    left: 30px;
    color: #1E1E27;
    font-size: 3rem;
          }
          .contact-header-box span:nth-child(3){
right: -33px;
top: 14px;
          }
      

             .products-items {
                  font-size: 40px;
             }

             .products-items h1 {
                  font-size: 2em !important;
             }

             .products-items img {
                  width: 2em;
             }

                 @media (max-width: 1200px) {
  .products-items {
       font-size: 50px;
  }
                 }


                 .carousel-content h1{
                      font-size: 2.5rem;
                 }
                 .carousel-content{
                      margin-top: 80px;
                 }


                 .carousel-content h3 {
                      font-size: 1rem;
                 }
               
                
    @media (min-width: 992px) {

        .suppliers-section h1 {
             font-size: 6rem;
             margin-left: 25px;
             -webkit-text-fill-color: #b62025;
             -webkit-text-stroke-width: 5px;
             -webkit-text-stroke-color: #fff;
             text-transform: uppercase;
        }

       .carousel-content p {
            font-weight: 100;
            font-size: 2rem;
       }

       .carousel-content h1 {
            font-size: 3.5rem;
       }

       .carousel-content h3 {
            font-size: 1.75rem;
       }

       .carousel-content {
            margin-top: 0;
       }

       .suppliers-section {
            height: 789px;
       }




      .carousel-text {
           height: 500px;
      }
      .jumbotron {
              height: 950px;
      }
      .form-control.contact {
           width: 70% !important;
      }


      .img-thumbnail.img-thumbnail-dashed img {
           height: 540px;
      }
     
       .products-items {
            font-size: 30px;
       }

   .newsletter-section .section-header-box {
        width: 140px;
   }
     .flex-row-lg-reverse{
          flex-direction: row-reverse;
     }
         .main-nav .navbar-nav a.nav-link {
              padding-right: 4.5rem;
              color: #000;
                  font-size: 1.7rem;
         }

         .sub-main {
              font-size: 20px;
         }

         .main-nav .navbar-nav .nav-item:last-child a.nav-link {
              padding-right: .5rem;
         }
         .logo {
              position: absolute;
              top: -100px;
                  width: 33%;
         }
           .logo img {
                width: 65%;
           }
   .newsletter-form {
        width: 80%;
        border-left: 5px solid #D7D7D7;
   }

      .services-section::before {
           font-size: 22rem;
      }

         .newsletter-form::before {
              height: 120%;
                  width: 121%;
         }

         .news-section::before {
              display: block;
         }

           .services-section::before {
                display: block;
           }


   .events-section-header {
        font-size: 10rem;
        transform: rotate(-90deg);
        margin-right: 50px;
   }



    .font-size-lg-2 {
         font-size: 30px;
    }

    .newsletter-section .section-header-box {
         width: 220px;
    }



           

              .services-stats .stats-header {
     
                   top: 25px;
                   background: white;
                   width: 100%;
                   text-align: center;
              }

                 .suppliers-section h1 {
                      font-size: 160px;
                 }
                    .news-section-container {
                         margin-right: 75px;
                         margin-left: -20px;
                    }

                     .product-img-detail {
                        bottom: -60px;
                        width: 55%;
                        background: #fff;
                        right: 0%;
                        margin: 0 25px;
                     }

                     .product-img-detail.reversed {
                          left: 0px;
                              bottom: -65px;
                     }
                         .contact-header {
                              font-size: 16rem;
                              transform: rotate(-90deg);
                              
                         }

                             .footer-nav {
                                  margin: 0 100px;
                             }

                               .news-letter-form button {
                                    position: absolute;
                                    top: 0;
                                    right: -113px;
                               }

                               .news-letter-form .custom-control-label {
                                    line-height: 1.5;
                               }

                                .section-text-bg::after {
                                     font-size: 25rem;
                                }
                     
    }


    .mtm{
         position: relative;
         border-bottom: 2px solid #5C5C5C;
         height: 40px;
         margin-bottom: 30px;
    }

    .mtm span{
         position: absolute;
         display: block;
         margin: 0 auto;
         left: 0;
         right: 0;
         width: 258px;
         background: white;
         font-size: 4rem;
         text-align: center;
         top: -20px;
         color: #5C5C5C;
    }

     .products-header-box {
          position: relative;
          width: 196px;
          height: 93px;
          padding: 5px 0 5px 10px;
          border: 5px solid #E6E6E7;
          font-size: 45px;
          white-space: nowrap;

     }

      h1 {
           font-size: 3.5rem;
      }
     .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e:");
     }

    

    .products-section-header-box{
                 position: relative;
                 width: 199px;
                 padding: 5px 0 5px 10px;
                 border: 5px solid #E6E6E7;
                 font-size: 45px;
                 white-space: nowrap;
                 height: 128px;
    }

     .products-section-header-box span {
          font-size: 4rem;
          position: absolute;
          display: block;
     }

    .products-section-header-box span:nth-child(1) {
            top: -18px;
            left: 43px;
    }

        .form-control.contact {
             width: 100%;
        }
    .products-section-header-box span:nth-child(2) {
        font-size: 4rem;
        position: absolute;
        top: -13px;
        display: block;
        right: -117px;
        color: #B62025;
        text-transform: uppercase;
    }

    .products-section-header-box span:nth-child(3) {
           bottom: -8px;
    }

   

  

    .product-img-title{
         position: absolute;
         right: -160px;
         top: 45%;
         transform: rotate(-90deg);
         width: 50%;
         font-size: 2rem;
    }
       .product-img-title.reversed {
             left: -165px;
       }

    .product-img-title div{
         height: 5px;
         border-bottom: 1px solid black;
         width: 20%;
         margin: 0 25px;
    }
    .product-img-title span{
         letter-spacing: 5px;
    }

    .form-group .form-control{
            text-indent: 10px;
            border: 5px solid #D1D1D1;
            border-radius: 0;
            padding: 20px;
    }


    .form-group .form-control::-webkit-input-placeholder {
         /* WebKit, Blink, Edge */
         color: #C0C0C0;
         font-size: 20px;
         font-family: 'Myriad Pro Bold Condensed Italic';
    }

    .form-group .form-control:-moz-placeholder {
         /* Mozilla Firefox 4 to 18 */
         color: #C0C0C0;
         font-size: 20px;
         font-family: 'Myriad Pro Bold Condensed Italic';
         opacity: 1;
    }

    .form-group .form-control::-moz-placeholder {
         /* Mozilla Firefox 19+ */
         color: #C0C0C0;
         font-size: 20px;
         font-family: 'Myriad Pro Bold Condensed Italic';
         opacity: 1;
    }

    .form-group .form-control:-ms-input-placeholder {
         /* Internet Explorer 10-11 */
         color: #C0C0C0;
         font-size: 20px;
         font-family: 'Myriad Pro Bold Condensed Italic';
    }

    .form-group .form-control::-ms-input-placeholder {
         /* Microsoft Edge */
         color: #C0C0C0;
         font-size: 20px;
         font-family: 'Myriad Pro Bold Condensed Italic';
    }

    .form-group .form-control::placeholder {
         /* Most modern browsers support this now. */
         color: #C0C0C0;
         font-size: 20px;
         font-family: 'Myriad Pro Bold Condensed Italic';
    }

    .form-group label{
         color:#1E1E27;
             font-size: 20px;
             font-family: 'Myriad Pro Bold Italic';
    }

     .btn{
          border-radius: 0;
              padding: 8px 50px;
              font-size: 25px;
     }
    .btn.btn-danger{
         background-color: #B62025;
    }

    .news-header-box{
         position: relative;
         width: 169px;
         padding: 5px 0 5px 10px;
         border: 5px solid #E6E6E7;
         font-size: 45px;
         white-space: nowrap;
         height: 85px;
    }

    .news-header-box span{
             font-size: 4rem;
             position: absolute;
             top: 9px;
             display: block;
             right: -13px;
             color: #B62025;
             text-transform: uppercase;
    }
    .news-header-box span:nth-child(1){
       top: -29px;
       left: 29px;
       font-size: 3rem;
       color: #000;
    }


    .page-footer{
         background-color: #373737;
    }

  

    .custom-control-label::before {
         position: absolute;
         top: 0.50rem;
         left: -2.5rem;
         display: block;
         width: 2rem;
         height: 2rem;
         pointer-events: none;
         content: "";
         background-color: #fff;
         border: #D7D7D7 solid 4px;
             border-radius: 0;
    }

    .custom-control-input:checked~.custom-control-label::before{
             border-color: #D7D7D7;
             background-color: #464646;
    }

    .custom-control-label::after {
         top: 1rem;
         left: -2rem;
    }

    .page-footer{
         margin-top:3rem;
    }

  